<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<title>Login & Registration</title>
	<link rel="icon" type="image/x-icon" href="../static/images/nav_logo.png" style="width:30px;">

	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> -->
</head>

<body>
	<div class="container" id="container">
		<div class="form-container sign-up-container">
			<form method="post" action="/register">
				<h1>Create Account</h1>
				<br>
				<input type="text" placeholder="First Name" name="first_name" />
				<input type="text" placeholder="last Name" name="last_name" />
				<input type="text" placeholder="Email" name="email" />
				<input type="text" placeholder="Phone Number" name="phone" />
				<input type="password" placeholder="Password" name="password" />
				<input type="password" placeholder="Confirm Password" name="confirm_pw" />
				{% csrf_token %}
				<button type="submit">Sign Up</button>
			</form>
		</div>
		<div class="form-container sign-in-container">
			<form method="post" action="/login">
				<h1>Sign in</h1>
				<br>
				<input type="email" placeholder="Email" name="email" />
				<input type="password" placeholder="Password" name="password" />
				{% csrf_token %}
				<button type="submit">Sign In</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Welcome Back!</h1>
					<p>please login with your personal info</p>
					<button class="ghost" id="signIn">Sign In</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Hello!</h1>
					<p>Enter your personal information.</p>
					<button class="ghost" id="signUp">Sign Up</button>
				</div>
			</div>
		</div>
	</div>
	{% if messages %}
	<ul class="messages" style="list-style-type: none">
		{% for message in messages %}
		<li {% if message.tags %} class="alert alert-{{ message.tags }} alert alert-danger" {% endif %}>
			<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>

			{{ message }}
		</li>
		{% endfor %}
	</ul>
	{% endif %}
	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</body>

</html>