/*Navbar start */
html {
    overflow-x: hidden;
}

body {
    margin: 0 auto;
    padding: 0px;
}

.navbar {
    height: 70px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    padding: 50px 20px 40px;
    width: 100%;
    margin: auto;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 17px;
}

.navbar-light .navbar-nav .nav-link.active {
    border-bottom: 2px solid #56C2C1;
}

.navbar-light .navbar-nav .nav-link:hover {
    border-bottom: 2px solid #56C2C1;
    color: #fff;
}

.logo-nav {
    margin: 0 10px;
}

img.logo-nav {
    height: 9%;
    width: 8%;
}

.fa-user-alt:hover,
.fa-user-alt:focus,
.fa-sign-out-alt:hover,
.fa-sign-out-alt:focus {
    color: #56C2C1;
}

.logout {
    margin-right: 20px;
    font-size: 17px;
}

.logout>* {
    color: #fff;
}

.logout a:hover {
    text-decoration: none;
    color: #fff;
}

header.nav-fixed {
    width: 100%;
    position: fixed;
    transition: 0.3s ease-in-out;
}

.nav-scroll {
    background-color: rgb(27, 26, 26);
    box-shadow: 5px -1px 12px -5px grey;
}

.navbar-light .navbar-nav .nav-link-scroll {
    color: #fff !important;
}

/*Navbar End */

/*Home start*/
.home {
    position: relative;
}

.img-bg {
    background: url("/static/images/bg9.jpeg") no-repeat;
    background-position: bottom;
    height: 100vh;
    background-size: cover;
    max-width: 100%;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
}

.home .content {
    max-width: 50rem;
    position: absolute;
    top: 30%;
    left: 10%;
}

.home .content h3 {
    font-size: 3.2rem;
    text-transform: uppercase;
    color: #fff;
}

.home .content p {
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1rem 0;
    margin: 10px;
}

.content-btn {
    position: relative;
}

.btn-content {
    position: absolute;
    right: 50%;
    top: 20%;
    width: 180px;
    padding: 10px;
    background-color: #f7f7f7;
    color: black;
    margin-bottom: -100px;
}

.btn-content:hover {
    background-color: #56C2C1;
    color: #fff;
    border: transparent;
    padding: 11px;
}

#type_text {
    color: #fff;
    font-size: 20px;
    width: 90%;
    height: 150px;
}

/*Home end*/

/*contact us start*/
section.contacts {
    padding: 100px 0 60px;
    background-color: #ececec;
}

section.contacts .map iframe {
    height: 175px;
    width: 100%;
    margin-bottom: 10px;
}

section.contacts .contact-addresses h4 {
    font-size: 24px;
    color: #181c1c;
    margin-bottom: 40px;
}

section.contacts .contact-addresses ul {
    list-style: none;
    padding: 0;
}

section.contacts .contact-addresses ul li {
    font-size: 18px;
    line-height: 25px;
    color: #16aeca;
    margin-bottom: 15px;
}

section.contacts .contact-addresses li address {
    display: inline;
}

section.contacts .contact-text {
    margin: 50px auto 20px;
}

section.contacts .contact-text h3 {
    font-size: 24px;
    color: #181c1c;
    font-weight: bold;
}

section.contacts .contact-form {
    width: 100%;
    margin: auto;

}


section.contacts .contact-form input,
section.contacts .contact-form textarea {
    background-color: #f7f7f7;
    border: 2px solid #ececec;
    color: #5c5c5c;
    font-size: 15px;
    line-height: 25px;
    border-radius: 3px;
    text-align: right;
    height: 60px;
}

section.contacts .contact-form textarea {
    height: 100px;
}

section.contacts .contact-form button {
    background-color: #16aeca;
    font-size: 15px;
    color: #fff;
    padding: 10px 30px;
    border-radius: 3px;
    width: auto;
    margin-right: 12px;
    border: 0;
}

/*contact us end*/

/*start footer*/

.footer {
    background-color: #13131a;
    text-align: center;
    /*  position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;*/
}

.footer .share {
    padding: 1rem 0 0.2rem;
}

.footer .share a {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.3rem;
    color: #fff;
    margin: 0.2rem;
    border-radius: 50%;
    text-decoration: none;
}

.footer .share a:hover {
    background-color: #16aeca;
    ;
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    gap: 0.2rem;
}

.footer .links a {
    padding: 0.4rem 0.8rem;
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
}

.footer .links a:hover {
    background-color: #16aeca;
    ;
}

.footer .created {
    font-size: 1.2rem;
    color: #fff;
    font-weight: normal;
    padding: 0.6rem 1.5rem 1.5rem;

}

.footer span {
    color: #16aeca;
    font-weight: bold;
}

/*end footer*/

/* start scroll btn*/
.top-btn {
    all: unset;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    transform: scale(1.8);
    transition: .3s;
}

/* end scroll btn*/

/*start course*/

.course {
    background-color: #fff;
    padding: 50px 20px;

}

/* ************* start New card style************ */

.carousel-indicators {
    margin-bottom: -30px;
}

.carousel-indicators li::after {
    background-color: #16aeca;
}

.carousel-indicators .container.my-5 {
    min-width: 100%;
}

.card {
    width: 280px;
    background: #fdfcff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    position: relative;
}

.scroll {
    max-height: 100px;
    overflow-y: auto;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}

@media (min-width: 768px) {
    .card img {
        height: 11em;
    }
}





.img-course-home {
    width: 98%;
    height: 170px !important;
}

.embed-responsive .card-img-top {
    object-fit: contain;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
}

/* 
.card img {
    max-width: 100%;
    max-height: 100%;
} */

.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
}

.carousel-inner {
    padding: 1em;
}

.card-body-home {
    background: #f6f5f7;
    height: 200px;
}

.cont-text {
    height: 150px;
}

.btn-card {
    background-color: #16aeca;
    color: white;
}

.btn-card:hover {
    background-color: #13131a;
    color: white;
}

.controls-top {

    position: absolute;
    top: 40%;
    width: 100%;
}

.fa-chevron-right:before {
    position: absolute;
    right: 2%;
    font-size: 30px;
    color: transparent;
}

.fa-chevron-left:before {
    position: absolute;
    left: -4%;
    font-size: 30px;
    color: transparent;
}

/* ********** end New card style ************* */
.navbar-toggler-icon {
    background: #fdfcff;
    ;
    padding: 19px;
}

.navbar-light .navbar-toggler {
    color: transparent;
    border-color: transparent;
}

@media (max-width: 1200px) {

    .home .content h3 {
        font-size: 2.8rem;
        text-transform: uppercase;
        color: #fff;
    }

    .home .content p {
        font-size: 1.4rem;
    }
}

@media (max-width: 992px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .home .content {
        margin-top: 30px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: -19px;
    }

    .home .content h3 {
        font-size: 2rem;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
    }

    .home .content p {
        font-size: 0.5rem;
    }

    .content-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .btn-content {
        margin-right: -84px;
        width: 180px;
        padding: 10px;
        background-color: #fff;
        color: black;
        margin-bottom: -100px;

    }

    img.logo-nav {
        height: 14%;
        width: 14%;
    }

    .fa-user-alt {
        color: #000000;
    }


    .navbar .container-fluid {
        margin-top: -65px;
    }

    .collapse.show {
        background-color: #f7f7f7;
        width: 100%;
        padding: 20px;
        margin-top: -24px;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #000;
        border-bottom: 2px solid #6ec0bf62;
    }

    .logout>* {
        color: #000;
        margin-top: -50px;
    }
}

/*
.logout > *{
    color: #000;
    margin-top: -50px;
}

@media (max-width: 775px) {
    .collapse.show {
        margin-top: 0px;
    }
}
*/
@media (max-width: 768px) {
    .navbar {
        padding-top: 62px;
    }

    .navbar-light .navbar-toggler-icon {
        padding: 15px
    }
}

@media (max-width: 576px) {
    .navbar {
        padding-top: 70px;
    }

    img.logo-nav {
        width: 21%;
        margin-left: -2%;
        margin-bottom: -1%;
    }

    .home .content {
        margin-top: -25px;
    }

    .btn-content {
        margin-top: 21px;
    }
}

@media (max-width: 450px) {
    img.logo-nav {
        width: 100px;
        margin-bottom: -2%;
    }

    .home .content h3 {
        font-size: 1.4rem;
    }

    #type_text {
        font-size: 16px;
    }

    .btn-content {
        margin-top: 56px;
        margin-right: -76px;
        width: 155px;
    }
}